<span id="menuMonCompte">
	<a href="compte/{{idClient}}"><span class="glyphicon glyphicon-user" id="btnUser"  title="Mon compte"></span></a>
	<a href="logout"><span class="glyphicon glyphicon-log-out" id="btnLogOut"  title="Déconnexion"></span></a>
</span>
